<tr class="transaction-row" [attr.data-transaction-id]="transaction.id">
  <td class="date-cell">
    {{ transaction.transactionDate | dateFormat: 'date' }}
  </td>
  <td class="source-cell">
    <span class="source-type-badge" [attr.data-source-type]="transaction.sourceType">
      {{ transaction.sourceType }}
    </span>
  </td>
  <td class="ledger-cell" [title]="transaction.ledgerAccount">
    {{ transaction.ledgerAccount }}
  </td>
  <td class="description-cell" [title]="transaction.description">
    {{ transaction.description }}
  </td>
  <td class="amount-cell text-right" [ngClass]="{'amount-debit': transaction.debitAmount > 0}">
    <span *ngIf="transaction.debitAmount > 0">{{ transaction.debitAmount | currencyDecimal }}</span>
    <span *ngIf="transaction.debitAmount === 0" class="text-gray-400">-</span>
  </td>
  <td class="amount-cell text-right" [ngClass]="{'amount-credit': transaction.creditAmount > 0}">
    <span *ngIf="transaction.creditAmount > 0">{{ transaction.creditAmount | currencyDecimal }}</span>
    <span *ngIf="transaction.creditAmount === 0" class="text-gray-400">-</span>
  </td>
  <td class="reference-cell" [title]="transaction.sourceReferenceId || ''">
    <span *ngIf="transaction.sourceReferenceId">{{ transaction.sourceReferenceId }}</span>
    <span *ngIf="!transaction.sourceReferenceId" class="text-gray-400">-</span>
  </td>
</tr>
